# LLM 配置
LLM_API_KEY=sk-0bPWrDEuUD9aJjepH0A1ppHFW8kQvccMkrHPL4221hvAj
LLM_BASE_URL=http://101.43.104.55:18317/v1
LLM_MODEL=qwen3-max

# 拼多多 API 配置
PDD_CLIENT_ID=5b0526d2772944eb988ed13a7c5fcc9e
PDD_CLIENT_SECRET=abe6000acb95ace679578392afe3d05653a5c275
PDD_PID=44136818_314571462

# 数据库 (PostgreSQL for Streamlit Cloud deployment)
DATABASE_URL=postgresql://postgres:kvpm62xtLr54Dbme@db.wjkmrosnjbvvnfhpqgrs.supabase.co:5432/postgres